* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: inter;
  flex-direction: column;
}

.main {
  background-color: hsl(0, 0%, 12%);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 14px;
  gap: 20px;
  height: 600px;
}

img {
  border-radius: 50px;
}

.jes-txt {
  font-size: 20px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  text-align: center;
}
.loc {
  font-size: 17px;
  color: hsl(75, 94%, 57%);
  padding: 0;
 margin-top: 10px;
  text-align: center;
  display: block;
}
.social {
  background-color: hsl(0, 0%, 20%);
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
.front {
  color: white;
}

.social:hover {
  cursor: pointer;
  color: black;
  background-color: hsl(75, 94%, 57%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px;

}
.attribution a {
  color: hsl(0, 0%, 100%);

}
